@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  background-color: darkgray;
  text-align: center;
}

.imagen {
  height: 600px;
  width: 650px;
}

.texto {
  position: absolute;
  margin-top: 100px;
  font-family: cursive;
  font-size: 38px;
  color: aliceblue;
  text-align: center;
}

.texto2 {
  position: absolute;
  margin-top: 400px;
  font-family: cursive;
  font-size: 38px;
  color: aliceblue;
  text-align: center;
}

