.container {
  background-color: darkgray;
  text-align: center;
}

.imagen {
  height: 600px;
  width: 650px;
}

.texto {
  position: absolute;
  margin-top: 100px;
  text-align: center;
  font-size: 38px;
  color: aliceblue;
  font-style: "font-extrabold";
}

.texto2 {
  position: absolute;
  margin-top: 400px;
  text-align: center;
  font-size: 38px;
  color: aliceblue;
  font-style: "font-extrabold";
}
